

<div class="table">
  {{#if title}}
    <div class="table__title">
      {{ title }}
    </div>
  {{/if}}
  <table>
    <thead>
      {{#each headers}}
        <tr>
          {{#each this}}
            <th 
            >
              {{label}}
            </th>
          {{/each}}
        </tr>
      {{/each}}
    </thead>
  </table>
</div>