.card {
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--primary-grey);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s;

  &:hover {
    background-color: var(--hover-bg-color);
    transform: translateY(-4px);
  }
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__link,
  &__link:hover {
    text-decoration: none;
  }

  &__link:hover &__subtext {
    color: var(--secondary-color);
  }

  &__img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: auto;
    height: 100%;
    padding: 1rem;
  }

  &__category {
    color: var(--label-green);
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  &__title {
    color: var(--text-primary);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  &__excerpt {
    color: var(--text-secondary);
    margin-bottom: 2rem;
  }

  &__footer {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    margin-top: auto;
  }

  &__subtext {
    color: var(--primary-color);
    font-size: 1rem;
    transition: color 0.2s;
  }

  &__date {
    color: var(--quote-color);
  }

  &--disabled {
    pointer-events: none;
  }
}
