.blog__filters {
  margin-bottom: 2rem;
}

.blog__filters-options {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @media (max-width: 919px) {
    align-items: stretch;
    flex-direction: column;
  }
}

.blog__category,
.blog__sort {
  min-width: 160px;
}

.blog__category-select,
.blog__sort-select {
  background-color: var(--white);
  border: 1px solid var(--primary-grey);
  border-radius: 4px;
  color: var(--text-secondary);
  font-size: 0.9rem;
  padding: 0.5rem;
  width: 100%;
}
