.introduction {
  color: var(--bg-color);
  max-width: 100%;

  &__heading {
    display: block;
  }

  &__text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-top: 1rem;
  }

  &__list {
    padding-top: 1rem;

    @media (min-width: 920px) {
      display: none;
    }
  }

  &__contact {
    padding-top: 1rem;
  }

  &__link {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    svg {
      height: 1rem;
      width: 1rem;
      fill: var(--bg-color);
    }

    &:hover,
    &:focus {
      color: var(--text-primary);
      svg {
        fill: var(--text-primary);
      }
    }
  }

  @media (min-width: 920px) {
    max-width: 80%;
  }
}
