.post {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-block: 3rem;
  max-width: 40rem;

  &__title {
    font-size: 3rem;

    &--green {
      color: var(--label-green);
    }
  }

  &__date {
    color: var(--quote-color);
    display: block;
    margin-block: 0.5rem;
  }

  &__text {
    margin-block: 1rem;
  }

  img {
    aspect-ratio: 9 / 10;
    border: 1px solid var(--border-color);
    margin-top: 1.5rem;
    width: 100%;
  }

  figcaption {
    color: var(--text-secondary);
    font-size: 0.875rem;
    padding-block: 0.5rem;
  }
}
