.recent-posts {
  background-color: var(--bg-color-secondary);
  border: 1px solid var(--primary-grey);
  border-radius: 8px;
  container: test / inline-size;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: max(100%, 614px);

  @media (max-width: 919px) {
    padding: 1rem;
  }

  &__link {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    transition: transform 0.2s;

    &:hover,
    &:focus-visible {
      background-color: var(--hover-bg-color);
      border-radius: 8px;
      color: var(--text-primary);
      text-decoration: none;
      transform: translateY(-4px);

      .recent-posts__title {
        text-decoration: underline;
      }
    }
  }

  picture {
    display: flex;
  }

  &__image {
    border-radius: 8px;
    object-fit: cover;

    @media (max-width: 919px) {
      display: none;
    }
  }

  &__title {
    font-size: 1.5rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 120px;
  }

  &__description {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @supports (line-clamp: auto) {
      line-clamp: auto;
    }
  }

  &__date {
    color: var(--quote-color);
    display: block;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-top: auto;
  }
}
