<section class="recent-posts">
  <ul class="recent-posts__list">
    {{#each articles}}
    <li class="recent-posts__item">
      <a href="#" class="recent-posts__link">
        <img
          class="recent-posts__image"
          src="https://placehold.co/150x100"
          width="150"
          height="100"
          alt="Preview"
          loading="lazy"
        />
        <div class="recent-posts__details">
          <h2>{{ this.title }}</h2>
          <p class="recent-posts__description">{{ this.description }}</p>
          <time
            class="recent-posts__date"
            >{{formatDate this.date "short"}}</time
          >
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
