<section class="recent-posts">
  <ul class="recent-posts__list">
    {{#each articles}}
    <li class="recent-posts__item">
      <a href="{{ this.path }}" class="recent-posts__link">
        {{> components/image/image config = this.image imgClass="recent-posts__image"}}
        <div class="recent-posts__details">
          <h2 class="recent-posts__title">{{ this.title }}</h2>
          <p class="recent-posts__description">{{ this.description }}</p>
          <time
            class="recent-posts__date"
            >{{formatDate this.date "short"}}</time
          >
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
