<div class="blog__category">
  <select id="category-select" class="blog__category-select">
    <option value="all">All Categories</option>
    <option value="Dev">Dev</option>
    <option value="Food">Food</option>
    <option value="General">General</option>
    <option value="Plants">Plants</option>
    <option value="Tech">Tech</option>
    <option value="Travel">Travel</option>
  </select>
</div>
