<div class="blog__search">
  <input
    type="text"
    id="search-input"
    class="blog__search-input"
    placeholder="Search posts..."
  />
  <button id="search-button" class="blog__search-button">Search</button>
</div>
