<div class="blog__sort">
  <select id="sort-select" class="blog__sort-select">
    <option value="newest">Newest First</option>
    <option value="oldest">Oldest First</option>
    <option value="popular">Most Popular</option>
  </select>
</div>
