<main class="home">
  <section class="home__left">
    {{>components/introduction/introduction}}
  </section>
  <section class="home__right">
    {{>components/recentPosts/recentPosts}}
  </section>
</main>
