<main class="post">
  <section>
    <h1 class="post__title">{{{title}}}</h1>
    <time class="post__date">{{date}}</time>
    {{#each content}}
      {{> (lookup this 'component') }}
    {{/each}}
  </section>
</main>
