<header class="header">
  <a class="header__logo header__link" href="/">max()</a>
  <nav class="header__navigation">
    <ul class="header__menu">
      <li class="header__item"><a class="header__link" href="/">Home</a></li>
      <li class="header__item">
        <a class="header__link" href="/about/">About</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/blog/">Blog</a>
      </li>
    </ul>
  </nav>
</header>
