:root {
  --primary-color: #5c705a;
  --secondary-color: #77a373;
  --bg-color: #e5e5e5;
  --primary-grey: #cdcdcd;
  --secondary-grey: #c9c9c9;
  --text-primary: #1f1f1f;
  --text-secondary: #363636;
  --quote-color: #666;
}
