a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--secondary-color);
  text-decoration: underline;
  fill: var(--secondary-color);
}

a:active {
  color: var(--primary-color);
}

h1 {
  font-size: 3.75rem;
  line-height: 4rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

a,
p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* 
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a39e9b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 */
