.blog-list {
  container: blogbox / inline-size;
  position: relative;
  background-color: #ebe2da;
  width: 100%;
  height: 32rem;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  justify-content: space-between;
  overflow: hidden;

  time {
    padding-top: 1rem;
    display: block;
    color: #666;
    font-size: 0.8rem;
  }

  &__preview {
    flex: 3;
    order: -1;
    padding: 1rem;
    border-right: 1px solid #d3d3d3;

    @container blogbox (width < 650px) {
      display: none;
    }
  }

  &__header {
    display: flex;
  }

  &__image {
    border-radius: 4px;
  }

  &__title {
    font-size: 2rem;
    padding: 0 1rem;
    align-self: center;
  }

  &__menu {
    padding: 1rem;
    flex: 2;
    overflow-y: auto;
  }

  &__content {
    padding: 1rem;

    & time {
      padding: 0 0 0.5rem;
      font-size: 1rem;
    }
  }

  &__item {
    padding: 1rem;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;

    &--active {
      background-color: #d8cec6;
      border-radius: 4px;
    }
  }

  &__blabla {
    display: flex;
    gap: 2rem;
    align-items: center;
    img {
      display: none;

      @container blogbox (width < 650px) {
        display: block;
      }
    }
  }
}
