.footer {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-between;
}

.footer-copy {
  color: var(--bg-color);
}

.footer-contact {
  display: flex;
  gap: 1.5rem;

  &__link {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    svg {
      height: 1.2rem;
      width: 1.2rem;
      fill: var(--text-primary);
    }

    &:hover,
    &:focus {
      svg {
        fill: inherit;
      }
    }
  }
}
