.footer {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-between;
}

.homepage .footer-copy {
  color: var(--bg-color);

  @media (max-width: 919px) {
    color: var(--text-primary);
  }
}

.footer-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  justify-content: flex-end;
  padding-left: 1.5rem;

  &__link {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    svg {
      height: 1.2rem;
      width: 1.2rem;
      fill: var(--text-primary);
    }

    &:hover,
    &:focus {
      svg {
        fill: inherit;
      }
    }
  }
}
