.header {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  position: sticky;

  &__logo {
    font-size: 2rem;
    line-height: 2.2rem;

    @media (max-width: 919px) {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.8rem;
    }

    .homepage & {
      color: var(--bg-color);
    }
  }

  &__menu {
    display: flex;
    gap: 1.5rem;

    @media (max-width: 919px) {
      .homepage & {
        color: var(--bg-color);
      }
    }
  }
}
