.header {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  position: sticky;

  &__logo {
    font-size: 1.5rem;
    font-weight: 500;

    &:hover,
    &:focus,
    &:focus-visible {
      text-decoration-color: var(--secondary-color);
    }

    @media (min-width: 920px) {
      font-size: 2rem;
      line-height: 2.2rem;
    }

    .homepage & {
      color: var(--bg-color);
    }
  }

  &__menu {
    color: var(--text-primary);
    display: flex;
    gap: 1.5rem;

    .homepage & {
      color: var(--bg-color);
    }

    @media (min-width: 920px) {
      .homepage & {
        color: var(--text-primary);
      }
    }
  }

  &__link {
    text-decoration: none;
  }
}
