.home {
  display: flex;
  flex: 1 1 0;
  height: 100%;
  margin: -5rem -4rem;

  &__left,
  &__right {
    align-items: center;
    display: flex;
    padding: 5rem 4rem;
  }

  &__left {
    background-color: var(--primary-color);
    flex: 1 1 40%;

    & > * {
      margin-right: 8rem;
    }
  }

  &__right {
    flex: 1 1 60%;

    & > * {
      margin-left: -12rem;
    }
  }
}
