@use 'abstracts';
@use 'base';
@use 'reset';
@use 'header';
@use 'footer';
@use 'home';
@use 'blog-preview';
@use 'recent-posts';

body {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
}

body.homepage {
  background: linear-gradient(90deg, #5c705a 42%, #e5e5e5 42%);
}
