@use 'abstracts';
@use 'reset';
@use 'base';
@use 'header';
@use 'footer';
@use 'components/index';
@use 'home';
@use 'blog-preview';

body {
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  padding-inline: 4rem;
}
