<main class="layout">
  <section class="preview-list">
    <div class="preview-list__left">
      <div class="preview-item">
        <img class="preview-item__image" src="" alt="Preview" loading="lazy" />
        <h2 class="preview-item__title">Title</h2>
        <p class="preview-item__description">Short description...</p>
        <span class="preview-item__date">Date</span>
      </div>
    </div>
    <div class="preview-list__right">
      <ul class="preview-list__menu">
        <li class="preview-list__item" tabindex="0">Article 1</li>
        <li class="preview-list__item" tabindex="0">Article 2</li>
        <li class="preview-list__item" tabindex="0">Article 3</li>
      </ul>
    </div>
  </section>
  {{>blogList}}
</main>
