<header class="header">
  <div class="header__logo">Max</div>
  <nav class="header__nav">
    <button class="header__toggle" aria-label="Toggle Navigation">☰</button>
    <ul class="header__menu">
      <li class="header__item"><a href="#">Home</a></li>
      <li class="header__item"><a href="#">About</a></li>
      <li class="header__item"><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
