<main class="home">
  <section class="home__intro">
    <div class="home__text">
      <h1>Hi there! I'm Max.</h1>
      <p>
        A developer specialised on performance and passionate about
        accessibility.
      </p>
    </div>
  </section>
  <section class="home__blog">
    {{>blogList}}
  </section>
</main>
