<ul class="post-list">
  {{#each articles}}
  <li
    class="post-list__item {{#if @first }}is-active{{/if}}"
    data-index="{{@index}}"
  >
    <a href="#">
      <div class="post-list__image">
        <img
          src="https://placehold.co/200x200"
          width="50"
          height="50"
          alt="Preview"
          loading="lazy"
        />
        <p>{{ this.title }}</p>
      </div>
      <time>{{formatDate this.date "short"}}</time></a
    >
  </li>
  {{/each}}
</ul>
