<div class="post-preview">
  <div class="post-preview__header">
    <img
      class="post-preview__image"
      src="https://placehold.co/200x200"
      width="200"
      height="200"
      alt="Preview"
      loading="lazy"
    />
    <h2 class="post-preview__title">{{ articles.0.title }}</h2>
  </div>
  <div class="post-preview__content">
    <time class="post-preview__date"
      >{{formatDate articles.0.date "long"}}
    </time>
    <p class="post-preview__description">{{ articles.0.description }}</p>
  </div>
</div>
