<div class="introduction">
  <h1>
    <span class="introduction__heading">Hi there!</span
    ><span class="introduction__heading">I'm Max.</span>
  </h1>
  <p class="introduction__text">
    A developer specialised on web performance and deeply passionate about
    accessibility. If Im not at the keyboard Im probably planting or baking.
  </p>
  <p class="introduction__text">
    This blog is about everything I love and do — coding, hiking, whisky and
    more. Enjoy and feel free to reach out to me!
  </p>
  <ul class="introduction__list">
    <li class="introduction__contact">
      <a href="https://github.com/max-bronner" class="introduction__link">
        {{> svg/gitHub}} GitHub
      </a>
    </li>
    <li class="introduction__contact">
      <a
        href="https://www.linkedin.com/in/max-bronner-01b056174/"
        class="introduction__link"
      >
        {{> svg/linkedIn}} LinkedIn
      </a>
    </li>
  </ul>
</div>
