<div class="introduction">
  <h1>
    <span class="introduction__heading">Hi there!</span
    ><span class="introduction__heading">I'm Max.</span>
  </h1>
  <p class="introduction__text">
    A developer specialised on performance and passionate about accessibility.
  </p>
</div>
